# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
*.egg

# Logs
*.log
twilio.log

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# OS
Thumbs.db
